
  .us7{
    height:70%;
    width:100%;
    }
    #partypic {
      height:90%;
      width:90%;
      margin-top: 20px;
  }
  #plate1 {
    height:90%;
    width:90%;
}

.partycontainer{
  padding: 10px;
  padding-block: 1rem;
}

/* Desktop View */
@media (min-width: 781px) {
  .grid{
    padding-block: 1rem;
    margin-inline: auto;
    display: grid;
    gap: 1.5 rem;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  }
  .grid + .grid{
    padding: 10px;
  }
}

/* Mobile View */
@media (max-width: 780px) {
  .partycontainer{
    padding: 10px;
    padding-block: 1rem;
    overflow: hidden;
  }
  .grid{
    padding-block: 1rem;
    margin-inline: auto;
    display: grid;
    gap: 1.5 rem;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  }
  .grid + .grid{
    padding: 10px;
  }
}


  /* Mid window View 
  @media (min-width: 771px max-width:999px) {

  }*/
