
  .us7{
    height:70%;
    width:100%;
    }
@media (min-width: 771px) {



    .c {
    height:500px;
    width:1000px;
    }
    .c1 {
        display:none;
    }
    #c4 {
      height:250px;
      width:350px;
    }
}


@media (max-width: 770px) {
    .c {
    display:none;
    }
    .c1 {
        width:350px;
        height: 350px;
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
    .c2 {
      margin-right:auto;
      margin-left:auto;
      display:block;
      height:90%;
      width:90%;  
    }
    #fin {
      display:none;
    }
}

#plate1 {
    height:90%;
    width:90%;

}
